const config = {
  pages: [
    'https://google.com/',
    'https://www.google.com/accessibility/',
    'https://blog.google/outreach-initiatives/accessibility/'
  ],
  fileName: 'results/tested-websites',
  basicAuth: {
      username: '',
      pass: ''
  },
  axeConfig: {
    reporter: 'v2'
  },
  viewport: {
    width: '1920',
    height: '1080'
  }
}

module.exports = config
